:root {
    --school-color:#116;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 186, 75);
}

div {
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

body > div {
    position: absolute;
    left: 0;
    top: 0;
}

#nav-menu {
    top: 0;
    right: 0;
    position: fixed;
    text-align: right;
    width: 100%;
    height: 40px;
    bottom: 0;
    padding: 20px 20px 35px 20px;
}

.nav-button {
    position: relative;
    z-index: 90;
    line-height: 30px;
    color: white;
    background: transparent;
    cursor: pointer;
    border: none;
    transition: transform 400ms ease-in-out, opacity 300ms ease-in-out;
}

.nav-button:hover {
    opacity: 50%;
}

.nav-button>div {
    height: 35px;
    display: flex;
}

.nav-button img {
    margin: 0 6px;
    display: inline-block;
    width: 30px;
    height: 30px;
    fill: white;
}

.nav-button span {
    display: inline-block;
    vertical-align: middle;
}

#nav-hamburger {
    z-index: 100;
}

#nav-art.hidden {
    opacity: 0%;
    transform: translateX(150px);
}

#nav-contact.hidden {
    opacity: 0%;
    transform: translateX(100px);
}

/* button {
    background-color: #99999955;
    color: #fff;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-align: center;
    cursor: pointer;
    border: #77777755;
    border-width: 2;
    border-radius: 35px;
    font-size: 1rem;
    z-index: 100;
}

button:hover {
    background-color: #99999999;
} */

#main {
    width: 100%;
}

.parallax-section {
    position: relative;
    overflow: hidden;
    padding: 0 5vw;
}

.parallax-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70vh;
}

#intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

#title {
    z-index: 5;
    width: 100%;
    height: 40vh;
    margin: 2vh;
    background-image: url('assets/title.svg');
    background-position: bottom;
    background-size: 100% 100%;
}

#subtitle {
    z-index: 20;
    width: 100%;
    height: 10vh;
    margin: 2vh;
    background-image: url('assets/subtitle.svg');
    background-position: top;
    background-size: 100% 100%;
}

#david {
    z-index: 10;
    position: absolute;
    height: 60vh;
    bottom: 0;
    width: 100%;
    background-size: contain;
    background-position: bottom;
    background-image: url('assets/man.png');   
}

#school {
    height: 130vh;
    background-color: var(--school-color);
}

#school-animation {
    position: absolute;
    left: 20%;
    top: 50%;
    aspect-ratio: 1;
    height: 20vh;
    max-width: 25vw;
    transform: translate(-50%, -50%);
}

#school-animation > div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#school-circle {
    border-radius: 100vh;
    background-color: white;
}

#school-logo {
    background-image: url('assets/uoft.png');
    background-size: 50% auto;
}

#software {
    height: 130vh;
    background-color: orange;
}

#google {
    height: 130vh;
    background-color: white;
}

#google .parallax-container {
    display: flex;
    flex-direction: row;
}

#google-info {
    margin: 2rem;
    max-width: 30vw;
}

#google-info > h1 {
    text-align: center;
}

#google-info > p {
    text-align: justify;
}

#google-page {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#google-buttons {
    display: flex;
    flex-direction: row;
}

.google-doodle {
    background-image: url('assets/google.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    aspect-ratio: 1.7;
    height: 30vh;
}

.google-search-bar {
    display: flex;
    text-align: left;
    z-index: 3;
    position: relative;
    min-height: 3rem;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 1rem 0;
    width: 100%;
    max-width: 584px;
}

.google-button {
    background-color: #f0f2f4;
    border: 1px solid #f0f2f4;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 2rem;
    line-height: 2rem;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.google-button:hover {
    border: 1px solid #c4c6c8;
}

#animation {
    height: 100vh;
    background-color: purple;
}

#skills {
    height: 100vh;
    background-color: mediumaquamarine;
    font-weight: bold;
}

.skill-header {
    font-size: 3rem;
}

#now {
    height: 100vh;
    background-color: blue;
}

@media screen and (orientation:portrait) {
    #intro {
        justify-content: flex-start;
    }

    #title {
        height: 20vh;
        margin: 12vh 0 0 0;
    }

    #subtitle {
        height: 7vh;
    }

    #google .parallax-container {
        flex-direction: column-reverse;
    }

    #google-info {
        max-width: 80vw;
    }
}
