:root {
    --school-color: rgb(33, 43, 80);
    --parallax-padding: calc(max(7vw, 100vw - (100vh * 1.7)) / 2);
    --parallax-narrow-padding: calc(max(7vw, 100vw - (100vh * 1.1)) / 2);
}

@font-face {
    font-family: Spongebob;
    src: url(assets/sponge.ttf);
}


html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 186, 75);
}

div {
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

hr {
    margin: 0 2rem;
    border: 0.5px solid black;
}

body {
    margin: 0;
}

body>div {
    position: absolute;
    left: 0;
    top: 0;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    right: 0;
    position: fixed;
    text-align: right;
    height: 40px;
    margin: 20px 20px 35px 20px;
}

.nav-button {
    position: relative;
    z-index: 90;
    color: white;
    background: transparent;
    cursor: pointer;
    border: none;
    transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.nav-button.hidden {
    transition: transform 180ms cubic-bezier(0.32, 0, 0.67, 0);
}

.nav-button:hover {
    opacity: 50%;
}

.nav-button>div {
    height: 35px;
    display: flex;
}

.nav-button img {
    margin: 0 8px;
    display: inline-block;
    width: 30px;
    height: 30px;
    fill: white;
}

.nav-button span {
    display: inline-block;
    vertical-align: middle;
}

#nav-hamburger {
    transform: scale(1.35);
}

#nav-art {
    transition-delay: 200ms;
}

#nav-art.hidden {
    transform: translateY(-70px);
    transition-delay: 0s;
}

#nav-linkedin {
    transition-delay: 100ms;
}

#nav-linkedin.hidden {
    transform: translateY(-70px);
    transition-delay: 70ms;
}

#nav-instagram {
    transition-delay: 0s;
}

#nav-instagram.hidden {
    transform: translateY(-70px);
    transition-delay: 140ms;
}

/* button {
    background-color: #99999955;
    color: #fff;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-align: center;
    cursor: pointer;
    border: #77777755;
    border-width: 2;
    border-radius: 35px;
    font-size: 1rem;
    z-index: 100;
}

button:hover {
    background-color: #99999999;
} */

.parallax-section {
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    padding: 0 var(--parallax-padding);
}

.parallax-container {
    width: 100%;
    height: 70vh;
}

#intro {
    display: flex;
    justify-content: center;
    height: 100vh;
    color: white;
    background: radial-gradient(circle, rgba(57, 240, 183, 1) 0%, rgba(61, 163, 166, 1) 100%);
    /* background: url(assets/ref.jpg); */
    /* background-size: 100% 100%; */
}

#title {
    z-index: 5;
    width: 100%;
    height: 40vh;
    margin: 2vh;
    background-image: url('assets/title.svg');
    background-position: bottom;
    background-size: 100% 100%;
}

#subtitle {
    z-index: 20;
    width: 100%;
    height: 10vh;
    margin: 2vh;
    background-image: url('assets/subtitle.svg');
    background-position: top;
    background-size: 100% 100%;
}

#david {
    z-index: 10;
    position: absolute;
    height: 60vh;
    bottom: 0;
    width: 100%;
    background-size: contain;
    background-position: bottom;
    background-image: url('assets/intro-david.png');
}

.parallax-bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#map {
    height: 170vh;
    background-color: var(--school-color);
    padding: 0 var(--parallax-narrow-padding);
}

#map-path {
    height: 100vh;
    align-self: flex-start;
    /* background-color: maroon; */
}

#map-path svg {
    width: 100%;
    height: 100%;
}

#map-path path {
    fill: none;
    stroke: white;
    stroke-width: 5px;
    transition: stroke 0.25s ease;
}

#map-info {
    padding: 0 15vw;
    text-align: justify;
    color: var(--school-color);
}

#map-info a {
    color: var(--school-color);
}

#map-info a:hover {
    color: #747379;
}

.pin {
    display: flow;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
}

.pin-icon {
    width: 12vh;
    aspect-ratio: 1;
    border-radius: 50vw;
    background-color: white;
    padding: 1vh;
    transition: 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.pin.inactive .pin-icon {
    transform: scale(0);
    transition: 200ms ease-in;
}

.pin-info {
    position: absolute;
    display: inline-block;
    margin: 0 10px;
    bottom: 0;
    height: 100%;
    width: 30vh;
    transition: 200ms ease;
}

.pin-info p {
    margin: 0;
}

.pin-info.right {
    right: 100%;
    text-align: right;
}

.pin-info.left {
    left: 100%;
}

.pin.inactive .pin-info.right {
    transform: translateX(50%);
    opacity: 0;
}

.pin.inactive .pin-info.left {
    transform: translateX(-50%);
    opacity: 0;
}

#google-pin-expand {
    transition: none;
    opacity: 0;
    /* background-color: green; */
}

#google-pin-logo {
    position: absolute;
    left: 0;
    top: 0;
}

#google {
    flex-direction: row;
    height: 150vh;
    background-color: white;
}

#google .parallax-container {
    display: flex;
    /* background-color: red; */
}

#google-info {
    margin: 2rem;
    max-width: 30vw;
}

#google-info>h1 {
    text-align: center;
}

#google-info>p {
    text-align: justify;
}

#google-page {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#google-buttons {
    display: flex;
    flex-direction: row;
}

#google-doodle {
    position: relative;
    width: min(50vh, 100vw);
    aspect-ratio: 1.9;
}

#google-doodle>div {
    position: absolute;
    left: 0;
    top: 0;
    aspect-ratio: 1.9;
    width: 100%;
    background-color: white;
    clip-path: polygon(0% 0%, 0 100%, var(--clip) 100%, var(--clip) 0%);
    cursor: pointer;
}

#google-doodle>div.disabled {
    display: none;
}

.google-doodle-default {
    background-image: url('assets/google.svg');
    --clip: 100%;
}

#google-doodle-baseball {
    background-image: url('assets/doodle-baseball.png');
}

#google-doodle-bobblehead {
    background-image: url('assets/doodle-bobblehead.png');
}

#google-doodle-halloween {
    background-image: url('assets/doodle-halloween.png');
}

#google-doodle-hiphop {
    background-image: url('assets/doodle-hiphop.png');
}

#google-doodle-olympics {
    background-image: url('assets/doodle-olympics.png');
}

#google-doodle-rabbit {
    background-image: url('assets/doodle-rabbit.png');
}

#google-search-bar {
    display: flex;
    text-align: left;
    z-index: 3;
    position: relative;
    min-height: 3rem;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 1rem 0;
    width: 500px;
    max-width: 80vw;
}

.google-button {
    background-color: #f0f2f4;
    border: 1px solid #f0f2f4;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 2rem;
    line-height: 2rem;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.google-button:hover {
    border: 1px solid #c4c6c8;
}

#skills-header {
    padding: 1rem 0;
    background-color: #ffb4d6;
    color: rgb(222, 10, 77);
    font-size: 5rem;
    font-weight: bold;
}


#skills {
    flex-direction: row;
    height: 160vh;
    background-color: rgb(222, 10, 77);
    font-weight: bold;
}

.skill-header {
    margin: 0 5rem;
    font-size: 1.5rem;
}

.skill-section {
    font-size: 3rem;
    overflow: visible;
    white-space: nowrap;
    padding-bottom: 4vh;
}

.skill-section a:nth-child(odd) {
    color: #ffb4d6;
}

.skill-section a {
    margin: 0 1vh;
    color: #ff8383;
    text-decoration-line: none;
}

.skill-section a:hover {
    color: white;
}

#animation {
    height: 180vh;
    background: url('assets/animation-bg.jpg');
    font-family: Spongebob;
    color: #aef5d4;
    padding: 0 var(--parallax-narrow-padding);
}

#animation .parallax-container {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 120vh;
}

.animation-text {
    font-size: 2rem;
    letter-spacing: .2rem;
    line-height: 2.5rem;
    text-shadow: 3px 3px #000000aa;
    max-width: min(80%, 80vh);
}

.animation-title {
    width: 80vw;
    text-align: center;
    font-size: 4rem;
    letter-spacing: .4rem;
    line-height: 5rem;
    text-shadow: 5px 5px #000000aa;
}

.animation-posters {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.animation-poster {
    width: min(40vh, 40vw);
    aspect-ratio: 0.68;
    background-size: cover;
    border-radius: 2px;
    box-shadow: 1px 1px #000000aa;
}

#outro-header {
    padding: 1rem 0;
    text-align: center;
    background-color: white;
    color: rgb(234, 91, 25);
    font-size: 2rem;
    font-weight: bold;
}


#outro {
    height: 100vh;
    justify-content: center;
    background: linear-gradient(0deg, rgba(230, 17, 98, 1) 20%, rgba(230, 17, 17, 1) 44%, rgba(255, 151, 0, 1) 100%);
    padding: 0 var(--parallax-narrow-padding);
}

#outro-sun {
    position: absolute;
    width: min(70vw, 45vh);
    aspect-ratio: 1;
    bottom: 34%;
    border-radius: 100%;
    background: linear-gradient(0deg, rgba(230, 147, 17, 0) 30%, rgba(230, 176, 17, 1) 100%);
}

#outro-socials {
    display: flex;
    flex-direction: row;
    z-index: 50;
    gap: 3vw;
}

.outro-icon {
    width: 9vh;
    aspect-ratio: 1;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}

.outro-icon:hover {
    opacity: 0.8;
}

@media screen and (orientation:portrait) {
    #intro {
        justify-content: flex-start;
    }

    #title {
        height: 20vh;
        margin: 12vh 0 0 0;
    }

    .parallax-bg {
        width: 150%;
    }

    #subtitle {
        height: 7vh;
    }

    #google .parallax-container {
        flex-direction: column-reverse;
    }
}